.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.contactme {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 80px 40px;
    width: 75vw;
    margin: 0 auto;

    border: 1px solid rgb(var(--black-rgb));
    border-radius: var(--radius-large);
}

.heading {
    font-size: 62px;
    line-height: 88px;
    font-weight: 500;
    width: 50%;
}

.form,
.userdetails,
.details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form {
    padding: 0 30px;
}

.userdetails {
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details {
    align-items: flex-start;
    justify-content: center;
    padding: 0 5px;
}

.details:first-of-type {
    margin-right: 30px;
}

.label {
    display: block;
    color: rgb(var(--grey-rgb));
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.textarea,
.input {
    width: 100%;

    color: rgb(var(--black-rgb));
    font-size: 16px;
    font-weight: 400;

    padding: 15px;

    outline: none;
    border-radius: var(--radius);
    border: 1px solid rgb(var(--off-white-rgb));
    background-color: rgb(var(--off-white-rgb));
}

.textarea:focus,
.input:focus {
    border: 1px solid rgb(var(--black-rgb));
}

.textarea::placeholder,
.input::placeholder {
    color: gray;
}

.textarea {
    resize: vertical;
    height: 150px;
}

.textwrapper {
    margin-top: 20px;
    padding: 0 5px;
    width: 100%;
    font-weight: 400;
}

.submit {
    margin-top: 20px;
    padding: 12px 25px;

    border: 1px solid rgb(var(--black-rgb));
    border-radius: var(--radius);
    
    color: #fff;
    font-weight: 500;
    background-color: rgb(var(--black-rgb));
    transition: transform 0.2s ease-out;
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.captchaWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

.captchaWrapper img {
    margin-bottom: 5px;
}
.captchaWrapper .input {
    width: 300px;
}

@media only screen and (max-width: 1500px) {
    .heading {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1300px) {
    .heading {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        margin-top: 150px;
        padding: 0 5vw;
    }

    .contactme {
        flex-direction: column;
        width: 100%;
        padding: 40px;
    }

    .heading {
        font-size: 36px;
        width: unset;
        line-height: unset;
    }

    .form {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 120px;
    }

    .contactme {
        padding: 0;
        border: none;
    }

    .userdetails {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .details {
        width: 100%;
        margin-top: 20px;
    }

    .details:first-of-type {
        margin-right: 0;
    }
}
