.floatinglinks {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floatinglink {
    width: 36px;
    height: 36px;
    margin: 10px;
    transition: transform 0.2s ease-out;
}

.floatinglink > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
@media (prefers-color-scheme: dark) {
    .floatinglink > img {
        filter: invert(1);
    }
}

.floatinglink:hover {
    transform: scale(1.1, 1.1);
}
