.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.main, .trackrecord {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin: 0 30px;
    width: 75vw;
}

.main>img {
    width: 400px;
    border-radius: 50%;
    box-shadow: 1px 0 0.5px 0.5px rgb(var(--black-rgb));
    filter: /* sepia(10%) */ grayscale(80%);
}

.main>.description {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.welcome, .heading {
    margin: 10px 0;
    font-size: 80px;
    font-weight: 400;
}


.heading {
    font-size: 44px;
}

.description>.aboutme {
    font-size: 25px;
    line-height: 39px;
    font-weight: 300;
    text-align: justify;
}


.container:last-child {
    margin-top: 50px;
    height: unset;
}

.trackrecord {
    flex-direction: column;
    align-items: flex-start;
}

.trackrecord>.career {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.career>.history {
    padding: 20px 5px;
    text-align: justify;
}

.career>.skills li {
    list-style: none;
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid rgb(var(--faint-grey-rgb));
    border-radius: var(--radius);
    transition: all 0.2s ease-out;
}
.career>.skills li:hover {
    border: 1px solid rgb(var(--black-rgb));
}

.career>.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    margin-left: 100px;
}

@media only screen and (max-width: 1300px) {
    .welcome {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1100px) {
    .main, .trackrecord {
        width: 80vw;
    }

    .welcome {
        font-size: 40px;
    }

    .heading {
        font-size: 36px;
    }

    .description>.aboutme {
        font-size: 20px;
    }

    .main, .trackrecord {
        margin: 0 15px;
    }

    .career>.skills {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1024px){
    .main, .trackrecord {
        width: 100%;
        margin: 0;
        padding: 0 5vw;
    }

    .trackrecord>.heading {
        align-self: flex-start;
    }
    .career>.history {
        padding: 0;
        margin-bottom: 15px;
    }

    .container {
        margin-top: 150px;
    }

    .main>img {
        height: 300px;
        width: unset;
    }

    .welcome, .heading {
        margin: 15px 0;
    }

    .main, .main>.description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .description>.aboutme {
        text-align: center;
    }


    .trackrecord>.career {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .career>.skills {
        margin: 0;
        padding: 0;
        width: 90%;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 768px){
    .container {
        margin-top: 120px;
    }

    .career>.skills {
        width: 100%;
        justify-content: center;
    }
}
